{% extends 'base.html.twig' %}
{% block title %}Robins Yatzy-sida{% endblock %}
{% block body %}
    {% block heading %}<h1>Välkommen till Robins (extremt simpla) Yatzy-sida</h1>{% endblock %}
    <p>Denna sida är byggd i PHP-ramverket Symfony, vilket verkar vara ett rätt
    trevligt ramverk att bygga sidor i.</p>
{% endblock %}